{% extends "base.html" %}

{% block content %}

<h2>About Us</h2>
<p>Nyalenda Youngstars is a community-based football club rooted in Nyalenda, a vibrant neighbourhood in Kisumu, Kenya's third-largest city. Founded in February 2023, the club aims to provide children and youth with a constructive outlet through football, fostering community cohesion and personal development.

Our teams train and play at the heart of Nyalenda on a pitch affectionately known as “Sri Lanka.”

The Beginning
The idea for Nyalenda Youngstars emerged during a reading activity organized by the Better Me organization, where a spontaneous football game revealed the community's passion for the sport. Inspired, Jakob Gaertner and Cedrik Lingner, two German volunteers, and local community member Curtis Otieno, envisioned a structured football program.

Their first meeting, held at Curtis' grandmother's home, included former Kenyan Premier League player Billy Agai, who contributed to defining the club's philosophy and goals.

Growth and Impact

Starting with just 15 children, the club rapidly expanded, now engaging over 100 participants. To manage this growth, the team, including Project Coordinator Paul Ochieng, organized players into age-specific groups and initiated regular tournaments and matches.

The club also established partnerships with various German clubs , leading to fundraising campaigns and charity events.

In 2024, we proudly introduced girls' teams, and in 2025, we launched a senior team that now competes in the Kisumu Sub-County League. These milestones have enriched our club's diversity and strengthened its structure.

Recognition and Future Plans

In 2025, Nyalenda Youngstars was selected to join the FIFA Foundation Community Programme, a significant endorsement that provides funding and support for football-based social projects. This affiliation enables the club to enhance its programs and reach within the community.

Looking ahead, we aim to further integrate women's teams, expand educational outreach, and strengthen community ties through football. The club continues to seek support to sustain and grow its impact in Nyalenda.</p>

{% endblock %}
